<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>关于预约购买口罩的说明</h2>
为缓解全国口罩供应紧张问题，新型冠状病毒感染的肺炎疫情防控指挥部决定，自2020年2月12日起，每天向市场投放10万个口罩（后期根据口罩产量适时调整），并通过“国药安心”或“国药家”微信公众号、“知国药”APP提供在线预约购买服务。按照公平、公正、公开原则，每天以镇街为单位，在所有登记预约的市民中进行抽签，每个中签市民可购买口罩5个。
<h3>一、时间安排</h3>
2月10日9：00起口罩预约系统开放，市民每天24小时均可进行登记注册。2月12日17：00首次抽签并公布结果，此后每天17：00抽签确定中签名单。
<h3>二、预约步骤</h3>
1.登录本平台；
2.在平台菜单栏目点击进入口罩预约页面；
3.填写姓名、身份证号码和手机号码等信息，并选择就近的国药门店（全市指定500家门店）；
4.点击保存。
<h3>三、注意事项</h3>
1.市民须以实名进行登记预约，按要求如实填写相关信息；
2.每名用户可同时为3人进行登记预约（重复登记无效）；
3.市民只需登记一次，系统每天自动对所有近5天内未中签者进行抽签；
4.每轮中签的市民可在中签后的5天内，自行或委托他人携带中签者的有效证件原件，前往登记预约的东莞国药门店购买口罩5个（一包），价格每个1元；
5.中签市民在中签后的5天内不再参与抽签，5天后将自动进入下一轮抽签，无需重复提交申请；
6.每天下午5时抽签后，市民可以通过口罩预约系统的“结果查询”页面，查询自己的中签情况。
</body>
</html>