<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <style>
        h2{
            color:#3F3F3F;
        }
    </style>
</head>
<body>
<h2>每日更新全网渠道</h2>
<table id="appTable" lay-filter="appTable"></table>
<script src="../layui/layui.js" th:src="@{../layui/layui.js}"></script>
<script src="../js/appointment_info.js" th:src="@{../js/appointment_info.js}"></script>
</body>

</html>